# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.env
.venv
venv/
env/


phishing website/phishing_mnb.pkl
phishing website/phishing_rf.pkl
phishing website/phishing.pkl
phishing website/vectorizer.pkl


phishing website/phishing_site_urls.csv
*.csv


backend/plots/


.ipynb_checkpoints/

.vscode/


Thumbs.db
desktop.ini


extension/generate_icons.py
